//Imports
@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";
@import "showroom.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";



/* ---------------------------------------------------
    MAIN SCSS
----------------------------------------------------- */

/* ---------------------------------------------------
    MAIN CSS
----------------------------------------------------- */

/* ---------------------------------------------------
    PRELOADERS
----------------------------------------------------- */
#home-overlay {
  height: 100%;
  width: 100%;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.home-preload-left-img{
  opacity: 0;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -500px;
  transition: all 0.8s ease-in-out;
}
.home-preload-right-img{
  opacity: 0;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  right: 50%;
  margin-right: -500px;
  transition: all 0.8s ease-in-out;
}
.line-draw{
  padding: 0;
  //margin: 0;
  width: 0px;
  height: 2px;
  position: absolute;
  top: 53%;
  left: 50%;
  margin-left: -148px;
  background-color: #000000;
  transition: all 0.5s ease-in-out;
}
#overlay {
  height: 100%;
  width: 100%;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.bounce {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  /*margin-top: -50px;*/
  margin-left: -50px;
}
.bounce>div {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  background-color: #6b7a8f;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.bounce .bounce1 {
  animation-delay: -0.32s;
}
.bounce .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */
body{
  background-color: #f9f9f9;
}

#map{
  box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.2);
}

.page-title{
  font-weight: 200;
  padding: 40px 0 20px 0;
  text-transform: uppercase;
}
.page-desc{
  font-weight: 400;
  width: 80%;
  margin: auto;
  padding: 30px 0 50px 0;
  font-size: 18px;
}
.contacts-map-container{
  width: 100%;
  background-color: rgba(149,179,191,0.3);
  padding: 50px 50px;
}
/* ---------------------------------------------------
    TOP NAV
----------------------------------------------------- */
.top-nav {
  opacity: 0;
  position: fixed;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 250px;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  z-index: 1;
}
.top-nav-link-head-img{
  height: 40px;
  position: absolute;
  right: 50%;
  top: 7px;
  left: 50%;
  margin-left: -92.25px;
}
.top-nav-link-trans-left {
  float: right;
  color: #333333;
  text-align: center;
  padding: 15px 10px;
  text-decoration: none;
}
.top-nav-link-trans:hover {
  text-decoration: none;
  color: #555555;

}
.top-nav-link-trans-right {
  float: right;
  color: #333333;
  text-align: center;
  padding: 15px 20px 5px 5px;
  text-decoration: none;
}
.hamburger{
  display: inline-block;
  padding: 0px 10px;
  margin-top: 17px;
}
.hamburger:hover{
  cursor: pointer;
}
.hamburger .line{
  width: 20px;
  height: 1px;
  background-color: #333;
  display: block;
  margin: 5px;
  transition: all 0.3s ease-in-out;
  box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
}
#hamburger.is-active .line:nth-child(2){
  opacity: 0;
}
#hamburger.is-active .line:nth-child(1){
  transform: translateY(5px) rotate(45deg);
}
#hamburger.is-active .line:nth-child(3){
  transform: translateY(-7px) rotate(-45deg);
}
#menu{
  position: absolute;
  top: 15px;
  transition: 0.3s;
}
#menu:hover{
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.side-nav{
  opacity: 0;
  height:100%;
  width:250px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#ffffff;
  overflow-x:hidden;
  padding-top:60px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 45px 20px 0px rgba(0,0,0,0.09);
}
.side-nav-link{
  padding:10px 10px 10px 30px;
  text-decoration:none;
  font-size:18px;
  color:#333;
  display:block;
  transition: all 0.8s ease-in-out;
}

.side-nav-link:hover{
  cursor: pointer;
  text-decoration: none;
  border-left: 5px solid #95ACBF;
  background-color: #F2F2F2;
  color:#555;
  transition: all 0.2s ease-in-out;
  #name-drop-icon{
    color: #95ACBF;
  }#exp-drop-icon{
    color: #95ACBF;
  }
}
#name-drop-icon{
  @extend %fa-icon;
  @extend .fas;

  &:after {
    content: fa-content($fa-var-caret-down);
  }
  color: #333333;
  position: absolute;
  font-size: 16px;
  right: 20px;
  margin-top: 6px;
  transition: 0.5s;
}#exp-drop-icon{
  @extend %fa-icon;
  @extend .fas;

  &:after {
    content: fa-content($fa-var-caret-down);
  }
  color: #333333;
  position: absolute;
  font-size: 16px;
  right: 20px;
  margin-top: 6px;
  transition: 0.5s;
}
.name-drop-icon-rotate{
  transform: rotate(180deg);
  transition: 0.5s;
}
.exp-drop-icon-rotate{
  transform: rotate(180deg);
  transition: 0.5s;
}
#name-drop.active{
  background-color: #f2f2f2;
  border-left: 5px solid #95ACBF;
  transition: all 0.2s;
}
#name-drop:hover{
  cursor: pointer;
}
#exp-drop.active{
  background-color: #f2f2f2;
  border-left: 5px solid #95ACBF;
  transition: all 0.2s;
}
#exp-drop:hover{
  cursor: pointer;
}
.side-nav-link-drop{
  height: 0;
  background-color: rgba(199,210,217,0.5);
  transition: all 0.2s;
}
.exp-link-drop{
  height: 0;
  background-color: rgba(199,210,217,0.5);
  transition: all 0.4s;
}
.link-drop{
  font-size: 16px;
  font-weight: 200;
  opacity: 0;
  padding:10px 0px 10px 50px;
  text-decoration:none;
  color:#333;
  display:none;
  transition: all 0.2s ease-in-out;
}
.link-drop:hover{
  text-decoration: none;
  background-color: #F9F9F9;
  color:#555;
  transition: all 0.2s ease-in-out;
}
.exp-link{
  font-size: 16px;
  font-weight: 200;
  opacity: 0;
  padding:10px 0px 10px 50px;
  text-decoration:none;
  color:#333;
  display:none;
  transition: all 0.2s ease-in-out;
}
.exp-link:hover{
  cursor: pointer;
  text-decoration: none;
  background-color: #F9F9F9;
  color:#555;
  transition: all 0.2s ease-in-out;
}

.btn-close{
  display: none;
  position:absolute;
  top:0;
  right:22px;
  color: #333333;
  font-size:40px;
  font-weight: 100;
  margin-left:50px;
}
.btn-close:hover{
  text-decoration: none;
}
.copy{
  position: absolute;
  bottom: 0px;
  left: 75px;
  right: 75px;
  text-align: center;
  width: 100px;
  font-weight: 200;
  font-size: 12px;
  color: rgba(0,0,0,0.5);
  transition: left 0.8s;
}
.custom-modal{
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 0;
  width: 100vw;
  overflow: hidden;
  background-color: rgba(134,154,166,0.95);
  transition: all 0.5s;
}
.custom-modal-content{
  width: 50%;
  margin: 15% auto;
  opacity: 0;
  transition: all 0.5s;
}
.closeBtn{
  position: relative;
  float: right;
  font-size:60px;
  font-weight: 100;
  color:rgba(255,255,255,0.5);
  transition: 0.3s;
}

.closeBtn:hover,.closeBtn:focus{
  color:#ffffff;
  text-decoration: none;
  cursor:pointer;
  transition: 0.3s;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#main{
  opacity: 0;
  margin-left: 250px;
  padding-top:55px;
  overflow-x:hidden;
  transition: all 0.5s ease-in-out;
}
.landing-image-container{
  height: calc(100vh - 55px);
  width: 100%;
  padding-top: 0;
  .landing-image{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    padding: 20vh 0 0 0;
    .motto{
      background-image: linear-gradient(to right, rgba(255,255,255,1) ,rgba(255,255,255,1) ,rgba(255,255,255,0.8) , rgba(255,255,255,0));
      padding: 25px 30px;
      letter-spacing: 2px;
      font-weight: 200;
      text-transform: uppercase;
      p{
        margin: 5px 0;
      }
    }
  }
}

.location-container{
  overflow: hidden;
  height: calc(100vh - 55px);
  width: 100%;
  padding: 20px 0;
  #map{
    margin: 20% auto;
  }
  .pic{
    margin: 14% auto auto auto;
  }
}
.view-container{
  height: calc(100vh - 55px);
  width: 100%;
  padding: 20px 0;
  background-color: #eeeeee;
}
.showroom-preview-container{
  height: calc(100vh - 55px);
  width: 100%;
  padding: 20px 0;
  background-color: #777777;
}
/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
.foot{
  background-color: rgba(134,154,166,0.5);
}
/* ---------------------------------------------------
    FORMS
----------------------------------------------------- */
.custom-form{
  background-color: rgba(255,255,255,1);
  padding: 40px 30px 20px 30px;
  margin: 100px 0;
  border: 1px solid #869AA6;
  box-shadow: 0px 7px 30px -5px rgba(0,0,0,0.3);
}
.form-title{
  margin-top: -40px;
  padding: 20px 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
}
:focus{outline: none;}

.positioning{
  position: relative;
  margin: 0px 0px 30px 0px;
} /* necessary to give position: relative to parent. */
input{
  width: 100%;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  resize: none;
  height: 175px;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #333333;
  //-webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.effect{
  border: 0;
  padding: 10px 10px;
  background-color: rgba(199,210,217,0.5);
  transition: background-color 0.2s;
}
.effect:focus{
  background-color: rgba(255,255,255,0);
  transition: background-color 0.2s;
}
.effect ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #869AA6;
  transition: 0.4s;
}
.effect:focus ~ .focus-border,
.has-content.effect ~ .focus-border{
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.effect ~ label{
  pointer-events: none;
  position: absolute;
  left: 10px;
  width: 100%;
  top: 10px;
  color: rgba(0,0,0,0.3);
  transition: 0.3s;
  letter-spacing: 0.5px;
}
.effect:focus ~ label, .has-content.effect ~ label{
  top: -20px;
  left: 0;
  font-size: 12px;
  color: rgba(84,104,116,1);
  transition: 0.3s;
}
#textarea{
  bottom: 4px;
}
.submit-btn{
  border-radius: 0;
  width: 100%;
  background-color: #95ACBF;
  padding: 15px 0px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 10px 0px;
  transition: all 0.3s;
}
.submit-btn:hover{
  background-color: #869AA6;
  cursor: pointer;
  transition: all 0.3s;
}
.submit-btn:focus{
  outline: 0;
}
.news-section{
  opacity: 1;
  position: absolute;
  bottom: 50px;
  padding: 0px 5px;
  width: 100%;
}
.news-btn{
  border-radius: 0;
  width: 100%;
  background-color: #95ACBF;
  padding: 10px 0px;
  border: none;
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 0px 0px;
  transition: all 0.3s;
}
.news-btn:hover{
  background-color: #869AA6;
  cursor: pointer;
  transition: all 0.3s;
}
.news-btn:focus{
  outline: 0;
}
#news-field{
  margin-bottom: 5px;
}
.custom-btn {
  text-align: center;
  padding: 10px 5px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #333333;
  text-decoration: none;
}.custom-btn:hover {
   color: #ffffff;
  text-decoration: none;
}

/**** BTN No. 12 ****/
.btn-12 {
  border: 2px solid rgba(149,179,191,1);
  z-index: 0;
  width: 100%;
  margin: 15px 0px 5px 0px;
}
.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(149,179,191,1);
  transition: all 0.3s ease;
}
.btn-12:hover {
  color: #fff;
}
.btn-12:hover:after {
  top: 0;
  height: 100%;
}
.btn-12:active {
  top: 2px;
}
.or-divider{
  padding: 10px 0;
  display: flex;
  width: 100%;
  align-items: center;
  color: #95ACBF;
  font-weight: 200;
  text-transform: uppercase;
}
.or-divider::before, .or-divider::after{
  content: "";
  background-color: #95ACBF;
  height: 1px;
  margin: 10px 10px 5px 10px;
  flex: 1;
}
.social-media-login-button {
  flex-grow: 1;
  height: 60px;
  margin: 0 0px 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}
.login-social-button:hover{
  text-decoration: none;
}
.social-media-login-button:hover {
  opacity: 1;
  transition: 0.1s;
}

.social-media-login-button svg {
  padding-right: 18px;
}


.social-media-login-button .contents {
  margin-bottom: 2px
}

.social-media-login-button .contents > * {
  display: block;
  line-height: 1;
  color: inherit;
}

.social-media-login-button .contents .title {
  font-weight: 600;
  font-size: 16px;
}
.error{
  border-radius: 0;
  transition: 0.3s;
}
.error-news{
  border-radius: 0;
  transition: 0.3s;
  margin: 5px 0px 5px 0px !important;
  padding: 5px 30px 5px 5px;
}
.close:focus{
  outline: 0;
}
.modal-form-wrapper{
  background-color: rgba(255,255,255,1);
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
@media (max-width: 768px) {
  /* ---------------------------------------------------
    PRELOADERS
----------------------------------------------------- */
  .line-draw{
    top: 55%;
  }
/* ---------------------------------------------------
    TOP-NAV
----------------------------------------------------- */
  .top-nav{
    margin-left: 0;
  }
  #hamburger.is-active .line:nth-child(2){
    opacity: 1;
  }
  #hamburger.is-active .line:nth-child(1){
    transform: none;
  }
  #hamburger.is-active .line:nth-child(3){
    transform: none;
  }
  .top-nav-link-head-img{
    height: 38px;
  }
  #menu{
    display: none;
  }
/* ---------------------------------------------------
    SIDE-NAV
----------------------------------------------------- */
  .side-nav{
    width: 0;
  }
  .news-section{
    opacity: 0;
    margin-left: -100vw;
    bottom: 28px;
  }
  .copy{
    opacity: 0;
    margin: auto;
    bottom: 5px;
    transition: opacity 0.3s;
  }
  .exp-link{
    transition: opacity 0.6s;
  }
  .custom-modal-content{
    width: 80%;
  }
/* ---------------------------------------------------
    CONTENT
----------------------------------------------------- */
  #main{
    margin-left: 0;
    padding: 55px 0 0 0;
  }
  .landing-image-container{
    height: 100vh;
    .motto{
      font-size: 20px;
    }
  }
  .location-container{
    height: auto;
    #map{
      margin: 25px auto;
    }
    .pic{
      margin: 0 auto 30px auto;
    }
  }
  .contacts-map-container{
    padding: 50px 15px;
  }
}

@media (max-width: 666px) {
  .news-section{
    display: none;
  }
  .custom-modal-content{
    width: 95%;
  }
}