//Imports
@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";


//Main SCSS

//Main CSS

//Preloader
//.preload-text{
//position: absolute;
//top: 55%;
//left: 50%;
//width: 300px;
//height: 100px;
//margin-top: -50px;
//margin-left: -150px;
//text-align: center;
//}
//
//.preload-text p{
//font-family: 'Press Start 2P', cursive;
//font-size: 16px;
//font-weight: 100;
//text-shadow: 0px 0px 1px rgba(0,122,255,.5);
//}
.bounce {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  /*margin-top: -50px;*/
  margin-left: -50px;
}
.bounce>div {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  background-color: #6b7a8f;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.bounce .bounce1 {
  animation-delay: -0.32s;
}
.bounce .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
#overlay {
  height: 100%;
  width: 100%;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
//General Styles
body{
  background-color: #eeeeee;
}
//NAVBAR
nav {
  z-index: 9980;
  //padding: 8px;
  opacity: 0;
  position: fixed;
  top:0;
  left:0;
  right:0;
  width: 100%;
  background-color: transparent;
  padding: 18px 15px;
  transition: 0.35s all ease;
}
.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;
}
.logo a {
  z-index: 9999;
  color: #000;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
}
nav .left-nav{
  float: left;
}
nav .logged-in-user{
  float: right;
}
nav ul {
  float: right;
}
nav ul li {
  margin-top: -7px;
  display: inline-block;
  float: left;
}
nav ul li:not(:first-child) {
  margin-left: 48px;
}
nav ul li:last-child {
  margin-right: 24px;
}
nav ul li a {
  display: inline-block;
  outline: none;
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  letter-spacing: 1.2px;
  font-weight: 600;
  transition: 0.1s color ease;
}
nav ul li a:hover{
  text-decoration: none;
  color: #777777;
  transition: 0.1s color ease;
}
.nav-wrapper .logged-in-user li #dropdownUserIcon{
  position: absolute;
  padding: 1.5px 0 0 10px;
  @extend %fa-icon;
  @extend .fas;
  &:before {
    content: fa-content($fa-var-sort-down);
  }
}
.nav-wrapper .logged-in-user li{
  margin-right: 45px;
}
.dropdown-menu{
  min-width: 0;
  padding: 0;
  background-color: rgba(255,255,255,1);
  border:none;
  border-radius: 0;
  padding: 10px 30px;
  margin: 19px -6px 0 0;
  text-align: right;
  transition: 0.35s padding ease;
}
.dropdown-menu a{
  padding: 10px 0;
}
@media screen and (max-width: 864px) {
  .logo {
    padding: 0;
  }
  .nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    background: #fff;
    transition: all 0.35s ease;
  }
  .nav-wrapper ul {
    position: absolute;
    top: 30%;
    transform: translateY(-30%);
    width: 100%;
  }
  .nav-wrapper .logged-in-user {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
  }
  .nav-wrapper ul li {
    display: block;
    float: none;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
  }
  .nav-wrapper .logged-in-user li {
    display: block;
    float: right;
    width: 70%;
    text-align: right;
    margin-bottom: 0;
  }
  .nav-wrapper .logged-in-user li{
    margin-right: 45px;
  }
  .nav-wrapper .logged-in-user li #dropdownUser{
    padding-right: 0;
  }
  .nav-wrapper .logged-in-user li #dropdownUserIcon{
    padding: 14px 0px 0px 10px;
  }
  .nav-wrapper .dropdown-menu a{
    border-right: 1px solid  #333333;
  }
  .nav-wrapper .dropdown-menu{
    margin-top: 0;
  }
  .nav-wrapper ul li:nth-child(1) a {
    transition-delay: 0s;
  }
  .nav-wrapper ul li:nth-child(2) a {
    transition-delay: 0s;
  }
  .nav-wrapper ul li:nth-child(3) a {
    transition-delay: 0s;
  }
  .nav-wrapper ul li:nth-child(4) a {
    transition-delay: 0s;
  }
  .nav-wrapper ul li:not(:first-child) {
    margin-left: 0;
  }
  .nav-wrapper ul li a {
    padding: 15px 24px;
    opacity: 0;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1.2px;
    transform: translateX(-20px);
    transition: all 0.2s ease;
  }
  .nav-btn {
    position: fixed;
    right: 15px;
    top: 15px;
    display: block;
    width: 48px;
    height: 48px;
    cursor: pointer;
    z-index: 9999;
    border-radius: 50%;
    transition: 0.35s all ease;
  }
  .nav-btn i {
    display: block;
    width: 20px;
    height: 2px;
    background: #000;
    border-radius: 2px;
    margin-left: 14px;
  }
  .nav-btn i:nth-child(1) {
    margin-top: 16px;
  }
  .nav-btn i:nth-child(2) {
    margin-top: 4px;
    opacity: 1;
  }
  .nav-btn i:nth-child(3) {
    margin-top: 4px;
  }
}
#nav:checked + .nav-btn {
  transform: rotate(45deg);
}
#nav:checked + .nav-btn i {
  background: #000;
  transition: transform 0.2s ease;
}
#nav:checked + .nav-btn i:nth-child(1) {
  transform: translateY(6px) rotate(180deg);
}
#nav:checked + .nav-btn i:nth-child(2) {
  opacity: 0;
}
#nav:checked + .nav-btn i:nth-child(3) {
  transform: translateY(-6px) rotate(90deg);
}
#nav:checked ~ .nav-wrapper {
  z-index: 9990;
  height: 100%;
}
#nav:checked ~ .nav-wrapper ul li a {
  opacity: 1;
  transform: translateX(0);
}
.hidden {
  display: none;
}
.scrolled{
  padding:0;
  background-color: rgba(255,255,255,0.99);
  transition: 0.35s all ease;
  .nav-btn {
    right: 5px;
    top: -3px;
    transition: 0.35s all ease;
  }
  .dropdown-menu{
    margin: 17px -6px 0 0;
    padding: 10px 35px;
    transition: 0.35s all ease;
  }
  .logo{
    padding-bottom: 5px;
  }
}
.scrolled:hover{
  padding: 3px 3px;
  .nav-btn {
    right: 10px;
    top: 0px;
    transition: 0.35s padding ease;
  }
  .dropdown-menu{
    margin: 19px -8px 0 0;
    padding: 10px 35px;
    transition: 0.35s padding ease;
  }
}
//Login, Register Page
.form-wrapper{
  margin: 5vh 3vw 3vh 3vw;
  padding: 30px 0;
  border: none;
  border-radius: 0;
  background:#6b7a8f;
  box-shadow: 0px 5px 15px -2px rgba(0,0,0,0.6);
}
.form-title{
  color: #ffffff;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 30px;
}
.form-inner-pad{
  padding: 0 30px;
}
.form-group {
  position:relative;
  & + .form-group {
    margin-top: 30px;
  }
}
.form-label {
  position: absolute;
  left: 0;
  margin-left: 10px;
  top: 25%;
  color: rgba(255,255,255,0.9);
  background-color: transparent;
  z-index: 10;
  transition: transform 150ms ease-out, font-size 150ms ease-out;
}
.focused .form-label {
  transform: translateY(-150%);
  font-size: 11px;
  padding-bottom: 5px;
}
.error{
  color: rgb(150,50,50);
  position: relative;
}
.form-control {
  color: #ffffff;
  height: 50px;
  border-radius: 0;
  border:none;
  background-color: rgba(255,255,255,0.1);
  position: relative;
}
.form-control:focus{
  color: #ffffff;
  border: none;
  background-color: rgba(255,255,255,0);
  border-radius: 0;
  border-bottom: 3px solid rgba(157,172,193,1);
  box-shadow: none;
  -webkit-transition: border-bottom 0.1s, background-color 0.3s;
  transition: border-bottom 0.1s, background-color 0.3s;
  transition-timing-function: ease-in-out;
}
.form-group label{
  font-size: 16px;
  color: #ffffff;
  opacity: 0.8;
}
.custom-checkbox{
  margin: 15px 0;
  color: #eeeeee;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: white;
  //-webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.check-label{
  position: absolute;
  padding: 0 10px;
  font-size: 18px;
  color: #eeeeee;
}
@keyframes check {0% {height: 0;width: 0;}
  25% {height: 0;width: 10px;}
  50% {height: 20px;width: 10px;}
}
.checkbox{
  background-color:#fff;
  display:inline-block;
  height:28px;
  width:28px;
  border-radius:0;
  border:0;
}
.checkbox span{
  display:block;
  height:28px;
  position:relative;
  width:28px;
  padding:0;
}
.checkbox span:after{
  -moz-transform:scaleX(-1) rotate(135deg);
  -ms-transform:scaleX(-1) rotate(135deg);
  -webkit-transform:scaleX(-1) rotate(135deg);
  transform:scaleX(-1) rotate(135deg);
  -moz-transform-origin:left top;
  -ms-transform-origin:left top;
  -webkit-transform-origin:left top;
  transform-origin:left top;
  border-right:4px solid #fff;
  border-top:4px solid #fff;
  content:'';
  display:block;
  height:20px;
  left:3px;
  position:absolute;
  top:15px;
  width:10px;
}
.checkbox span:hover:after{
  border-color:#999999;
}
.checkbox input{
  display:none
}
.checkbox input:checked + span:after{
  -webkit-animation:check .8s;
  -moz-animation:check .8s;
  -o-animation:check .8s;
  animation:check .8s;
  border-color:#555;
}
.checkbox input:checked + .default:after{
  border-color:#444;
}

.submit-btn{
  background-color: rgba(87,102,123,1);
  border-radius: 0;
  border: 0;
  padding: 14px;
  width: 100%;
}
.submit-btn:hover{
  background-color: rgba(67,82,103,1);
}
.submit-btn:active, .submit-btn:focus, .submit-btn::before, .submit-btn::after{
  box-shadow: none;
  outline: 0;
  border: 0;
  border-radius: 0;
}
.submit-btn p{
  color: #ffffff;
  margin: 0;
  padding: 0;
}
.custom-btn {
  margin-top: 25px;
  padding: 10px 25px;
  background: rgba(255,255,255,0.1);
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
.custom-btn:hover{
  background-color: rgba(255,255,255,0.05);
}
/**** BTN No. 3 ****/
.btn-3 {
  width: 100%;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3 span a{
  color: #ffffff;
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3 span a:hover{
  text-decoration: none;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
  background: rgba(157,172,193,1);
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  background: rgba(157,172,193,1);
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}
.or-divider{
  color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 30px 20px 10px;
}
.or-divider::before, .or-divider::after{
  content: "";
  background: rgba(67,82,103,1);
  height: 2px;
  margin: 10px;
  flex: 1;
}
.or-divider:focus{
  box-shadow: none;
  outline: 0;
}
.social-media-login-button {
  flex-grow: 1;
  height: 60px;
  margin: 0 32px 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}
.social-media-login-button:hover {
  opacity: 1;
  transition: 0.1s;
}
.social-media-login-button svg {
  padding-right: 18px;
}
.social-media-login-button .contents {
  margin-bottom: 2px
}
.social-media-login-button .contents > * {
  display: block;
  line-height: 1;
  color: inherit;
}
.social-media-login-button .contents .title {
  font-weight: 600;
  font-size: 17px;
}
.login-social-button:hover{
  text-decoration: none;
}