//Imports
@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";


//Main CSS
.login-separator-border {
  padding-top: 10px;
  text-align:center;
  border-bottom: 1px solid #999;
  line-height:0.1em;
  margin: 20px 32px 30px !important;
  color: #424242;
  font-size: 18px;
  font-weight: normal;
}

.login-separator {
  background:#fff;
  padding:0 10px;
}

.social-media-login-button {
  flex-grow: 1;
  height: 60px;
  margin: 0 32px 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}

.social-media-login-button:hover {
  opacity: 1;
  transition: 0.1s;
}

.social-media-login-button svg {
  padding-right: 18px;
}


.social-media-login-button .contents {
  margin-bottom: 2px
}

.social-media-login-button .contents > * {
  display: block;
  line-height: 1;
  color: inherit;
}

.social-media-login-button .contents .title {
  font-weight: 600;
  font-size: 17px;
}

.login-social-button:hover{
  text-decoration: none;
}