//Imports
@import "~bootstrap/scss/bootstrap.scss";
@import "variables.scss";
@import "content.scss";
@import "responsive.scss";
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";


/* ---------------------------------------------------
    MAIN SCSS
----------------------------------------------------- */

/* ---------------------------------------------------
    MAIN CSS
----------------------------------------------------- */
input:required {
  box-shadow: none;
}
/* ---------------------------------------------------
    PRELOADERS
----------------------------------------------------- */
#home-overlay {
  height: 100%;
  width: 100%;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.home-preload-left-img{
  opacity: 0;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  left: 50%;
  margin-left: -500px;
  transition: all 0.8s ease-in-out;
}
.home-preload-right-img{
  opacity: 0;
  height: 70px;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  right: 50%;
  margin-right: -500px;
  transition: all 0.8s ease-in-out;
}
.line-draw{
  padding: 0;
  //margin: 0;
  width: 0px;
  height: 2px;
  position: absolute;
  top: 53%;
  left: 50%;
  margin-left: -148px;
  background-color: #000000;
  transition: all 0.5s ease-in-out;
}
#overlay {
  height: 100%;
  width: 100%;
  background: #eee;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
#overlay-floor {
  height: 100%;
  width: 100%;
  background: transparent;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
}
.bounce {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  /*margin-top: -50px;*/
  margin-left: -50px;
}
.bounce>div {
  width: 15px;
  height: 15px;
  margin: 0px 5px;
  background-color: #6b7a8f;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.bounce .bounce1 {
  animation-delay: -0.32s;
}
.bounce .bounce2 {
  animation-delay: -0.16s;
}
@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1.0);
  }
}
/* ---------------------------------------------------
    GENERAL STYLES
----------------------------------------------------- */
body{
  font-family: $primary-font;
  background-color: #f9f9f9;
}

#map{
  box-shadow: 0px 5px 10px -3px rgba(0,0,0,0.25);
  border: 1px solid rgba(0,0,0,0.2);
}

.page-title{
  font-weight: 200;
  padding: 40px 0 20px 0;
  text-transform: uppercase;
}
.section-title{
  font-weight: 200;
  padding: 40px 0 40px 0;
  text-transform: uppercase;
}
.page-desc{
  font-weight: 400;
  width: 80%;
  margin: auto;
  padding: 30px 0 50px 0;
  font-size: 18px;
}
.contacts-map-container{
  width: 100%;
  background-color: rgba(149,179,191,0.3);
  padding: 50px 50px;
}
.animate {
  position: relative;
  top: -100px;
  left: 50%;
}
.animate span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 36px;
  height: 36px;
  margin-left: -18px;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
  filter: invert(1) grayscale(1) contrast(9);
}
.animate span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.animate span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}

@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#two{
  filter: invert(1) grayscale(1) contrast(9);
}

#three{
  filter: invert(1) grayscale(1) contrast(9);
}

.arrow-up {
  display: none;
  opacity: 0;
  padding: 20px;
  background-color: #95ACBF;
  height: 40px;
  width: 40px;
  position: fixed;
  bottom: 50px;
  right: 10px;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
  overflow: hidden;
}

.arrow-slide {
  left: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: #fff;
  position: absolute;
  display: block;
  z-index: 0;
}

.left-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 3px;
  width: 20px;
  display: block;
  transform: rotate(-45deg);
  &:after {
    content: "";
    background-color: #fff;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: right center;
    z-index: -1;
  }
}

.right-arm {
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 19px;
  left: 17px;
  width: 20px;
  display: block;
  transform: rotate(45deg);
  border-radius: 2px;
  &:after {
    content: "";
    background-color: #fff;
    width: 20px;
    height: 1px;
    display: block;
    border-radius: 1px;
    transition: all 0.5s cubic-bezier(0.25, 1.7, 0.35, 1.5);
    transform-origin: left center;
    z-index: -1;
  }
}

.arrow-up:hover {
  transition: all .1s;
  .left-arm:after {
    transform: rotate(-10deg);
  }
  .right-arm:after {
    transform: rotate(10deg);
  }
  .arrow-slide {
    transition: all .4s ease-in-out;
    transform: translateY(200%);
  }
}

/* ---------------------------------------------------
    TOP NAV
----------------------------------------------------- */
.top-nav {
  opacity: 0;
  position: fixed;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  margin-left: 0;
  overflow: hidden;
  background-color: #ffffff;
  transition: all 0.5s ease-in-out;
  //box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  z-index: 1;
  .hamburger{
    display: inline-block;
    padding: 0px 10px;
    margin-top: 17px;
  }
  .hamburger:hover{
    cursor: pointer;
  }
  .hamburger .line{
    width: 20px;
    height: 1px;
    background-color: #333;
    display: block;
    margin: 5px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.3);
  }
  #hamburger.is-active .line:nth-child(2){
    opacity: 0;
  }
  #hamburger.is-active .line:nth-child(1){
    transform: translateY(5px) rotate(45deg);
  }
  #hamburger.is-active .line:nth-child(3){
    transform: translateY(-7px) rotate(-45deg);
  }
  #menu{
    position: absolute;
    top: 15px;
    transition: 0.3s;
  }
  #menu:hover{
    cursor: pointer;
    letter-spacing: 2px;
    transition: 0.3s;
  }
  .top-nav-link-head-img{
    height: 40px;
    position: absolute;
    right: 50%;
    top: 7px;
    left: 50%;
    margin-left: -92.25px;
  }
  .top-nav-link-trans-left {
    float: right;
    color: #333333;
    text-align: center;
    padding: 15px 10px;
    text-decoration: none;
  }
  .top-nav-link-trans:hover {
    text-decoration: none;
    color: #555555;
  }
  .top-nav-link-trans-right {
    float: right;
    color: #333333;
    text-align: center;
    padding: 15px 20px 5px 5px;
    text-decoration: none;
  }
}




/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
.side-nav-mobile{
  opacity: 1;
  height:100%;
  width:100%;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#ffffff;
  overflow-x:hidden;
  padding-top: 70px;
  transition: all 0.5s ease-in-out;
  .side-nav-inside{
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    .btn-close{
      transition: opacity 0.3s ease-in-out;
      opacity: 1;
      position:absolute;
      top:0;
      right:22px;
      color: #333333;
      font-size:40px;
      font-weight: 100;
      margin-left:50px;
    }
    .btn-close:hover{
      text-decoration: none;
    }
    .side-nav-link{
      padding:10px 10px 10px 30px;
      text-decoration:none;
      font-size:18px;
      color:#333;
      display:block;
      transition: all 0.8s ease-in-out;
      #name-drop-icon{
        @extend %fa-icon;
        @extend .fas;

        &:after {
          content: fa-content($fa-var-caret-down);
        }
        color: #333333;
        position: absolute;
        font-size: 16px;
        right: 20px;
        margin-top: 6px;
        transition: 0.5s;
      }
      #exp-drop-icon{
        @extend %fa-icon;
        @extend .fas;

        &:after {
          content: fa-content($fa-var-caret-down);
        }
        color: #333333;
        position: absolute;
        font-size: 16px;
        right: 20px;
        margin-top: 6px;
        transition: 0.5s;
      }
      .name-drop-icon-rotate{
        transform: rotate(180deg);
        transition: 0.5s;
      }
      .exp-drop-icon-rotate{
        transform: rotate(180deg);
        transition: 0.5s;
      }
      #name-drop.active{
        background-color: #f2f2f2;
        border-left: 5px solid #95ACBF;
        transition: all 0.2s;
      }
      #name-drop:hover{
        cursor: pointer;
      }
      #exp-drop.active{
        background-color: #f2f2f2;
        border-left: 5px solid #95ACBF;
        transition: all 0.2s;
      }
      #exp-drop:hover{
        cursor: pointer;
      }
    }
    .side-nav-link:hover{
      cursor: pointer;
      text-decoration: none;
      border-left: 5px solid #95ACBF;
      background-color: #F2F2F2;
      color:#555;
      transition: all 0.2s ease-in-out;
      #name-drop-icon{
        color: #95ACBF;
      }#exp-drop-icon{
         color: #95ACBF;
       }
    }
    .side-nav-link-drop{
      height: 0;
      background-color: rgba(199,210,217,0.5);
      transition: all 0.2s;
      .link-drop{
        font-size: 16px;
        font-weight: 200;
        opacity: 0;
        padding:10px 0px 10px 50px;
        text-decoration:none;
        color:#333;
        display:none;
        transition: all 0.2s ease-in-out;
      }
      .link-drop:hover{
        text-decoration: none;
        background-color: #F9F9F9;
        color:#555;
        transition: all 0.2s ease-in-out;
      }
    }
    .exp-link-drop{
      height: 0;
      background-color: rgba(199,210,217,0.5);
      transition: all 0.4s;
      .exp-link{
        font-size: 16px;
        font-weight: 200;
        opacity: 0;
        padding:10px 0px 10px 50px;
        text-decoration:none;
        color:#333;
        display:none;
        transition: all 0.2s ease-in-out;
      }
      .exp-link:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: #F9F9F9;
        color:#555;
        transition: all 0.2s ease-in-out;
      }
    }
    .custom-modal{
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 0;
      width: 100vw;
      overflow: hidden;
      background-color: rgba(134,154,166,0.95);
      transition: all 0.5s;
      .custom-modal-content{
        width: 95%;
        margin: auto auto;
        opacity: 0;
        transition: all 0.5s;
        .closeBtn{
          position: absolute;
          right: 50px;
          top: 0;
          z-index: 2;
          font-size:60px;
          font-weight: 100;
          color:rgba(255,255,255,0.5);
          transition: 0.3s;
        }
        .closeBtn:hover,.closeBtn:focus{
          color:#ffffff;
          text-decoration: none;
          cursor:pointer;
          transition: 0.3s;
        }
      }
    }
  }
  .visible{
    transition: opacity 0.3s ease-in-out, visibility 0.4s linear;
    opacity: 1;
    visibility: visible;
  }
}
.side-nav-desktop{
  opacity: 1;
  height:100%;
  width:250px;
  position:fixed;
  z-index:1;
  top:0;
  left:0;
  background-color:#ffffff;
  overflow-x:hidden;
  padding-top: 55px;
  transition: all 0.5s ease-in-out;
  //box-shadow: 0px 45px 20px 0px rgba(0,0,0,0.09);
  .side-nav-inside{
    transition: opacity 0.3s ease-in-out;
    opacity: 0;
    .btn-close{
      display: none;
      position:absolute;
      top:0;
      right:22px;
      color: #333333;
      font-size:40px;
      font-weight: 100;
      margin-left:50px;
    }
    .btn-close:hover{
      text-decoration: none;
    }
    .side-nav-link{
      padding:10px 10px 10px 30px;
      text-decoration:none;
      font-size:18px;
      color:#333;
      display:block;
      transition: all 0.8s ease-in-out;
      #name-drop-icon{
        @extend %fa-icon;
        @extend .fas;

        &:after {
          content: fa-content($fa-var-caret-down);
        }
        color: #333333;
        position: absolute;
        font-size: 16px;
        right: 20px;
        margin-top: 6px;
        transition: 0.5s;
      }
      #exp-drop-icon{
        @extend %fa-icon;
        @extend .fas;

        &:after {
          content: fa-content($fa-var-caret-down);
        }
        color: #333333;
        position: absolute;
        font-size: 16px;
        right: 20px;
        margin-top: 6px;
        transition: 0.5s;
    }
      .name-drop-icon-rotate{
        transform: rotate(180deg);
        transition: 0.5s;
      }
      .exp-drop-icon-rotate{
        transform: rotate(180deg);
        transition: 0.5s;
      }
      #name-drop.active{
        background-color: #f2f2f2;
        border-left: 5px solid #95ACBF;
        transition: all 0.2s;
      }
      #name-drop:hover{
        cursor: pointer;
      }
      #exp-drop.active{
        background-color: #f2f2f2;
        border-left: 5px solid #95ACBF;
        transition: all 0.2s;
      }
      #exp-drop:hover{
        cursor: pointer;
      }
    }
    .side-nav-link:hover{
      cursor: pointer;
      text-decoration: none;
      border-left: 5px solid #95ACBF;
      background-color: #F2F2F2;
      color:#555;
      transition: all 0.2s ease-in-out;
      #name-drop-icon{
        color: #95ACBF;
      }#exp-drop-icon{
         color: #95ACBF;
       }
    }
    .side-nav-link-drop{
      height: 0;
      background-color: rgba(199,210,217,0.5);
      transition: all 0.2s;
      .link-drop{
        font-size: 16px;
        font-weight: 200;
        opacity: 0;
        padding:10px 0px 10px 50px;
        text-decoration:none;
        color:#333;
        display:none;
        transition: all 0.2s ease-in-out;
      }
      .link-drop:hover{
        text-decoration: none;
        background-color: #F9F9F9;
        color:#555;
        transition: all 0.2s ease-in-out;
      }
    }
    .exp-link-drop{
      height: 0;
      background-color: rgba(199,210,217,0.5);
      transition: all 0.4s;
      .exp-link{
        font-size: 16px;
        font-weight: 200;
        opacity: 0;
        padding:10px 0px 10px 50px;
        text-decoration:none;
        color:#333;
        display:none;
        transition: all 0.2s ease-in-out;
      }
      .exp-link:hover{
        cursor: pointer;
        text-decoration: none;
        background-color: #F9F9F9;
        color:#555;
        transition: all 0.2s ease-in-out;
      }
    }
    .custom-modal{
      position: fixed;
      z-index: 1;
      left: 0;
      top: 0;
      height: 0;
      width: 100vw;
      overflow: hidden;
      background-color: rgba(134,154,166,0.95);
      transition: all 0.5s;
      .custom-modal-content{
        width: 50%;
        margin: auto auto;
        opacity: 0;
        transition: all 0.5s;
        .closeBtn{
          position: absolute;
          right: 50px;
          top: 0;
          z-index: 2;
          font-size:60px;
          font-weight: 100;
          color:rgba(255,255,255,0.5);
          transition: 0.3s;
        }
        .closeBtn:hover,.closeBtn:focus{
          color:#ffffff;
          text-decoration: none;
          cursor:pointer;
          transition: 0.3s;
        }
      }
    }
  }
  .visible{
    transition: opacity 0.3s ease-in-out, visibility 0.4s linear;
    opacity: 1;
    visibility: visible;
  }
}

.deactivated{
  width: 0;
}

.contact-section{
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  background-color: transparent;
  position: absolute;
  bottom: 250px;
  padding: 0px 5px;
  width: 100%;
  text-align: center;
  .contact-section-email{
    font-size: 15px;
    font-weight: 200;
    opacity: 0.8;
    span{
      font-weight: 600;
    }
  }.contact-section-phone{
     font-size: 15px;
     font-weight: 200;
     opacity: 0.8;
     span{
       font-weight: 600;
     }
   }.contact-section-address{
      font-size: 15px;
      font-weight: 200;
      opacity: 0.8;
      span{
        font-weight: 600;
      }
    }
}
.copy{
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0px;
  left: 50%;
  right: 50%;
  margin-left: -75px;
  margin-right: -75px;
  text-align: center;
  text-transform: uppercase;
  width: 150px;
  font-weight: 300;
  font-size: 12px;
  color: #333333;
}
.visible{
  transition: opacity 0.3s ease-in-out, visibility 0.4s linear;
  opacity: 1;
  visibility: visible;
}







/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
#main{
  min-height: 100vh;
  opacity: 0;
  margin-left: 0;
  padding-top:55px;
  overflow-x:hidden;
  transition: all 0.5s ease-in-out;
}
.landing-image-container{
  height: calc(100vh - 55px);
  width: 100%;
  padding-top: 0;
  .landing-image{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    padding: 20vh 0 0 0;
    .motto{
      background-image: linear-gradient(to right, rgba(255,255,255,1) ,rgba(255,255,255,1) ,rgba(255,255,255,0.8) , rgba(255,255,255,0));
      padding: 25px 30px;
      letter-spacing: 2px;
      font-weight: 200;
      text-transform: uppercase;
      p{
        margin: 5px 0;
      }
    }
  }
}

.location-container{
  height: auto;
  width: 100%;
  padding: 20px 0;
  #map{
    height: 70vh;
    width: 100%;
  }
  .pic{
    margin-top: 15px;
    width: 100%;
    height: 50vh;
    background-color: #2c3e50;
  }
  .loc-text{
    width: 100%;
    margin: 50px 15px 150px 15px;
    padding: 25px 5%;
    text-align: center;
    background-color: rgba(0,0,0,0.025);
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
  }
}
.view-container{
  height: auto;
  width: 100%;
  padding: 20px 0;
  background-color: #eeeeee;
}
.showroom-preview-container{
  height: auto;
  width: 100%;
  padding: 20px 0 50px 0;
  background-color: rgba(242,242,242,1);
}
/* ---------------------------------------------------
    FOOTER STYLE
----------------------------------------------------- */
.foot{
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 0;
  background-color: rgba(134,154,166,0.3);
  padding: 0 0 10px 0;
  .add-line{
    background-color: rgba(255,255,255,0.3);
    .contact-panel{
      padding: 10px 0 10px 0px;
      p{
        text-transform: none;
        font-weight: 200;
        span{
          font-weight: 400;
          float: none;
        }
      }
    }
  }
  .foot-legal{
    color: rgba(0,0,0,0.5);
    text-decoration: none;
  }
  .foot-legal:hover{
    text-decoration: none;
    color: #333333;
  }
  p{
    margin: 0;
    color: rgba(0,0,0,0.5);
    text-transform: uppercase;
  }
  span{
    padding: 0 10px;
    float: right;
    #fb{
      @extend %fa-icon;
      @extend .fab;
      &:before {
        content: fa-content($fa-var-facebook-f);
      }
      &:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.8);
        transition: all 0.3s;
      }
      color: rgba(0,0,0,0.5);
      padding: 0 5px;
      transition: all 0.3s;
    }#tw{
      @extend %fa-icon;
      @extend .fab;
      &:before {
        content: fa-content($fa-var-twitter);
      }
      &:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.8);
        transition: all 0.3s;
      }
       color: rgba(0,0,0,0.5);
       padding: 0 5px;
       transition: all 0.3s;
    }#g{
      @extend %fa-icon;
      @extend .fab;
      &:before {
        content: fa-content($fa-var-google-plus-g);
      }
      &:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.8);
        transition: all 0.3s;
      }
        color: rgba(0,0,0,0.5);
        padding: 0 5px;
        transition: all 0.3s;
    }#ig{
      @extend %fa-icon;
      @extend .fab;
      &:before {
        content: fa-content($fa-var-instagram);
      }
      &:hover{
        text-decoration: none;
        color: rgba(0,0,0,0.8);
        transition: all 0.3s;
      }
       color: rgba(0,0,0,0.5);
       padding: 0 5px;
       transition: all 0.3s;
    }
  }
}

/* ---------------------------------------------------
    FORMS
----------------------------------------------------- */
.custom-form{
  background-color: rgba(255,255,255,1);
  padding: 40px 30px 20px 30px;
  margin: 100px 0;
  border: 1px solid #869AA6;
  box-shadow: 0px 7px 30px -5px rgba(0,0,0,0.3);
}
.form-title{
  margin-top: -40px;
  padding: 20px 0px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 200;
}
:focus{outline: none;}

.positioning{
  position: relative;
  margin: 0px 0px 30px 0px;
} /* necessary to give position: relative to parent. */
input{
  width: 100%;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  resize: none;
  height: 175px;
  box-sizing: border-box;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #333333;
  //-webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
.effect{
  border: 0;
  padding: 10px 10px;
  background-color: rgba(199,210,217,0.5);
  transition: background-color 0.2s;
}
.effect:focus{
  background-color: rgba(255,255,255,0);
  transition: background-color 0.2s;
}
.effect ~ .focus-border{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #869AA6;
  transition: 0.4s;
}
.effect:focus ~ .focus-border,
.has-content.effect ~ .focus-border{
  width: 100%;
  transition: 0.4s;
  left: 0;
}
.effect ~ label{
  pointer-events: none;
  position: absolute;
  left: 10px;
  width: 100%;
  top: 10px;
  color: rgba(0,0,0,0.3);
  transition: 0.3s;
  letter-spacing: 0.5px;
}
.effect:focus ~ label, .has-content.effect ~ label{
  top: -20px;
  left: 0;
  font-size: 12px;
  color: rgba(84,104,116,1);
  transition: 0.3s;
}
#textarea{
  bottom: 4px;
}
.submit-btn{
  border-radius: 0;
  width: 100%;
  background-color: #95ACBF;
  padding: 15px 0px;
  border: none;
  color: #ffffff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 10px 0px;
  transition: all 0.3s;
}
.submit-btn:hover{
  background-color: #869AA6;
  cursor: pointer;
  transition: all 0.3s;
}
.submit-btn:focus{
  outline: 0;
}
.news-section{
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 50px;
  padding: 0px 5px;
  width: 100%;
  .news-btn{
    border-radius: 0;
    width: 100%;
    background-color: #95ACBF;
    padding: 10px 0px;
    border: none;
    color: #ffffff;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 200;
    margin: 0px 0px;
    transition: all 0.3s;
  }
  .news-btn:hover{
    background-color: #869AA6;
    cursor: pointer;
    transition: all 0.3s;
  }
  .news-btn:focus{
    outline: 0;
  }
  #news-field{
    margin-bottom: 5px;
  }
}


.custom-btn {
  text-align: center;
  padding: 10px 5px;
  background: transparent;
  outline: none !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  color: #333333;
  text-decoration: none;
}.custom-btn:hover {
   color: #ffffff;
  text-decoration: none;
}

/**** BTN No. 12 ****/
.btn-12 {
  border: 2px solid rgba(149,179,191,1);
  z-index: 0;
  width: 100%;
  margin: 15px 0px 5px 0px;
}
.btn-12:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: rgba(149,179,191,1);
  transition: all 0.3s ease;
}
.btn-12:hover {
  color: #fff;
}
.btn-12:hover:after {
  top: 0;
  height: 100%;
}
.btn-12:active {
  top: 2px;
}
.or-divider{
  padding: 10px 0;
  display: flex;
  width: 100%;
  align-items: center;
  color: #95ACBF;
  font-weight: 200;
  text-transform: uppercase;
}
.or-divider::before, .or-divider::after{
  content: "";
  background-color: #95ACBF;
  height: 1px;
  margin: 10px 10px 5px 10px;
  flex: 1;
}
.social-media-login-button {
  flex-grow: 1;
  height: 60px;
  margin: 0 0px 10px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border-radius: 0px;
  opacity: 0.85;
  cursor: pointer;
  transition: 0.2s;
  color: white;
}
.login-social-button:hover{
  text-decoration: none;
}
.social-media-login-button:hover {
  opacity: 1;
  transition: 0.1s;
}

.social-media-login-button svg {
  padding-right: 18px;
}


.social-media-login-button .contents {
  margin-bottom: 2px
}

.social-media-login-button .contents > * {
  display: block;
  line-height: 1;
  color: inherit;
}

.social-media-login-button .contents .title {
  font-weight: 600;
  font-size: 16px;
}
.error{
  border-radius: 0;
  transition: 0.3s;
}
.error-news{
  border-radius: 0;
  transition: 0.3s;
  margin: 5px 0px 5px 0px !important;
  padding: 5px 30px 5px 5px;
}
.close:focus{
  outline: 0;
}
.modal-form-wrapper{
  background-color: rgba(255,255,255,1);
}

/* ---------------------------------------------------
    DASHBOARD
----------------------------------------------------- */
.dash-head{
  background-color: #eeeeee;
  .dash-hello{
    display: inline-block;
    .edit-user{
      i{
        @extend %fa-icon;
        @extend .fas;

        &:after {
          content: fa-content($fa-var-pen);
        }
        &:hover{
          cursor: pointer;
          transition: 0.3s ease-in-out;
          color: #869AA6;
        }
        transition: 0.3s ease-in-out;
        color: #95ACBF;
        font-size: 20px;
        position: relative;
        bottom: 5px;
        left: 15px;
      }
    }
  }

  .notifications-bell{
    float: right;
    display: inline-block;
    .notifications-bell-icon{
      @extend %fa-icon;
      @extend .fas;

      &:before {
        content: fa-content($fa-var-bell);
      }
      &:hover{
        transition: 0.3s ease-in-out;
        color: #869AA6;
      }
      transition: 0.3s ease-in-out;
      font-size: 30px;
      color: #95ACBF;
    }
    .notifications-dot{
      position: absolute;
      margin: -25px 0 0 -10px;
      height: 15px;
      width: 15px;
      background-color: #ff4d4d;
      border-radius: 50%;
    }
  }
  .notifications-bell:hover{
    text-decoration: none;
  }
}


.notifications-tray{
  z-index: 1;
  position: absolute;
  max-width: 400px;
  width: auto;
  max-height: 600px;
  overflow-y: auto;
  margin: 0;
  right: 0;
  top: 192px;
  box-shadow: 0 5px 10px -1px rgba(0,0,0,0.2);
  .notifications-tray-body{
    margin: 0;
    padding: 0;
    border: 1px solid #869AA6;
    border-radius: 0;
    .notifications-list-container{
      .morelink{
        transition: 0.3s ease-in-out;
        color: #333333;
        text-decoration: none;
        background-color: #eeeeee;
        padding: 5px;
      }
      .morelink:hover{
        transition: 0.3s ease-in-out;
        color: #777777;
        text-decoration: underline;
      }
      .notifications-title{
        background-color: #95ACBF;
        font-weight: 400;
        padding: 10px 10px;
        margin: 0;
        color: #ffffff;
      }
      .notifications-list{
        .morecontent span {
          display: none;
        }
        list-style-type: none;
        padding: 0;
        margin: 0;
        .notifications-unread-list-item{
          border-top: 1px solid rgba(0,0,0,0.1);
          background-color: rgba(0,0,0,0.05);
          .notifications-read{
            width: 100%;
            height: auto;
            text-align: center;
            display: block;
            padding: 5px 0;
            transition: 0.3s ease-in-out;
            color: #ffffff;
            background-color: #95ACBF;
          }
          .notifications-read:hover{
            transition: 0.3s ease-in-out;
            text-decoration: none;
            color: #ffffff;
            background-color: #869AA6;
          }
          p{
            padding: 10px 15px;
            margin: 0;
          }
        }
        .notifications-read-list-item{
          border-top: 1px solid rgba(0,0,0,0.1);
          background-color: #ffffff;
          padding: 10px 15px;
          p{
            margin: 0;
          }
        }
      }
    }
  }
}

.edit-user-form{
  background-color: rgba(134,154,166,0.95);
  .modal-dialog-centered{
    .modal-content{
      background-color: rgba(0,0,0,0);
      border: none;
      border-radius: 0;
      .custom-form-header{
        background-color: rgba(0,0,0,0);
        border: none;
        border-radius: 0;
        button{
          font-size: 50px;
          color: #ffffff;
          text-shadow: none;
          font-weight: 100;
          padding-right: 0;
        }
      }
      .modal-body{
        padding: 0;
        .custom-form{
          margin: 0;
        }
      }
    }
  }
}

.timeline-header{
  margin-bottom: 25px;
}
.timeline {
  list-style-type: none;
  position: relative;
  &:before{
    content: ' ';
    background: #869AA6;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 0;
  }
  li {
    margin: 30px 0;
    padding: 0 20px;
    &:before{
      content: ' ';
      background: #eeeeee;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #95ACBF;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 0;
    }
  }
}
