@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";

/* ---------------------------------------------------
    SHOWROOM THUMBNAIL SECTION
----------------------------------------------------- */
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}
#building{
  padding: 0 25%;
}
#show-deck{
  display: flex;
  padding: 30px 0 100px 0;
  .card{
    margin: 20px 10px;
    height: 50vh;
    min-height: 350px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    img{
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }
    .card-img-overlay{
      border: 1px solid #95ACBF;
      transition: all 0.3s ease-in-out;
      background-color: rgba(255,255,255,0.95);
      height: 15vh;
      color: #000000;
      opacity: 0;
      top: unset;
      .card-title{
        margin: 0;
        display: none;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
      }
      .card-text{
        margin: 0;
        display: none;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
      button{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        background-color: #95ACBF;
        padding: 20px 0px;
        border: none;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 200;
        margin: 0;
        transition: all 0.3s;
      }
      button:focus{
        outline: 0;
      }
    }
  }
}

#show-deck{
  .card:hover{
    box-shadow: 0px 5px 12px -3px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    .card-img-overlay{
      height: 100%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      .card-title{
        padding: 30px 0;
        display: block;
      }
      .card-text{
        display: block;
      }
      button:hover{
        background-color: #869AA6;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
}


/* ---------------------------------------------------
    SHOWROOM CONTENT SECTION
----------------------------------------------------- */
.modal{
  background-color: rgba(0,0,0,0.7);
}
.showroom-content{
  background-color: transparent;
  border: none;
  border-radius: 0;
  .carousel-inner{
    max-height: 90vh;
    .carousel-item{
      img{
        height: 90vh;
        object-fit: contain;
      }
      .carousel-caption{
        background-color: rgba(255,255,255,0.9);
        color: #333333;
        h5 span{
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 200;
        }
        p {
          span{
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.close-modal-carousel{
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 25px 0 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
}
.close-modal-carousel:hover{
  cursor: pointer;
}
.close-modal-carousel:focus{
  outline: none;
}
/* ---------------------------------------------------
    BLOG THUMBNAIL SECTION
----------------------------------------------------- */
.blog-container{
  padding-top: 50px;
  padding-bottom: 80px;
}
.post{
  transition: all 0.3s ease-in-out;
  margin: 30px 0 80px 0;
  height: 250px;
  .post-link{
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: transparent;
    height: 250px;
    .post-img{
      transition: all 0.3s ease-in-out;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0;
    }
    .post-title{
      text-align: left;
      margin-left: 10px;
      margin-right: 21px;
      border: 1px solid #869AA6;
      box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      span{
        transition: all 0.3s ease-in-out;
        font-size: 20px;
        font-weight: 200;
        color: #333333;
      }
    }
    .post-author{
      background-color: #ffffff;
      padding: 5px 10px;
      opacity: 0;
      transition: 0.3s ease-in-out;
      position: absolute;
      bottom: 75px;
      left: 30px;
      color: #333333;
      span{
        font-size: 20px;
        font-weight: 400;
        color: #869AA6;
      }
    }
    .post-date{
      transition: 0.3s ease-in-out;
    }
  }
}
.post-link:hover{
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  .post-img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.5);
  }
  .post-title{
    margin-left: 0;
    transition: all 0.3s ease-in-out;
    background-color: #869AA6;
    span{
      color: #ffffff;
    }
  }
  .post-author{
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .post-date{
    transition: 0.3s ease-in-out;
    margin-top: 10px;
  }
}
.post-link:focus{
  outline: none;
}
.pagination{
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  .active{
    span{
      background-color: #869AA6;
      padding: 10px 20px;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .disabled{
    span{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
  li{
    a{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
}
.pagination{
  .active span:hover{
    cursor: not-allowed;
  }
  .disabled span:hover{
    cursor: not-allowed;
  }
  li a:hover{
    background-color: #95ACBF;
    color: #ffffff;
  }
}
/* ---------------------------------------------------
    POST CONTENT SECTION
----------------------------------------------------- */
.blog-modal-bg{
  background-color: rgba(255,255,255,1);
}
.blog-modal{
  margin: 0;
}
.post-content{
  height: 100vh;
  border: none;
  border-radius: 0;
  margin: 0;
  .close-blog-modal{
    padding: 0 15px 0 15px;
    font-size:70px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    color: #000;
    border: none;
  }
  .post-container{
    margin-top: 150px;
    padding-bottom: 100px;
    .modal-post-title{
      font-size: 50px;
      font-weight: 200;
      margin: 10px 0 25px 0;
    }
    .modal-post-sub-title{
      font-size: 30px;
      font-weight: 200;
      margin: 0 0 25px 0;
      color: rgba(0,0,0,0.5);
    }
    .modal-post-author{
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      span{
        font-size: 18px;
        font-weight: 600;
        color: #869AA6;
      }
    }
    .modal-post-date{
      float: right;
    }
    .post-head-img{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .modal-post-text{
      margin-top: 30px;
    }
  }
}
.close-blog-modal:hover{
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #869AA6;
  color: #ffffff;
}
.close-blog-modal:focus{
  outline: none;
}
/* ---------------------------------------------------
    VISUAL SELECTION
----------------------------------------------------- */

.project-parallax-img-container{
    .project-overview{
      padding: 150px 10px 100px 10px;
      h1{
        padding: 35px 0;
        font-weight: 400;
        font-size: 40px;
        color: #ffffff;
      }
      #project-title{
        font-size: 80px;
        margin: 0 auto 50px auto;
      }
      .overview-box{
        padding: 25px 25px;
        border: 1px solid rgba(255,255,255,1);
        background-color: rgba(255,255,255,0.1);
        .project-instructions{
          color: #ffffff;
          .vis-select{
            text-align: left;
            i{
              @extend %fa-icon;
              @extend .far;
              &:before {
                content: fa-content($fa-var-eye);
                font-size: 85px;
                color: #ffffff;
              }
            }
            h1{
              color: #72DDB6;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
          .how-to{
            p{
              text-shadow: 0px 1px 10px rgba(0,0,0,0.3);
              font-size: 20px;
              padding: 25px 0 0 0;
            }
            .arrow-1 {
              position: relative;
              margin: auto;
              height: 25px; width: 25px;
              border: 1px solid rgba(255,255,255,1);
              border-width: 2px 2px 0 0;
              transform: rotate(135deg);
            }
          }
          .project-info{
            h1{
              padding: 20px 0;
              margin: 0;
              color: #72DDB6;
              font-weight: 600;
              span{
                color: #72DDB6;
                font-size: 60px;
                font-weight: 800;
              }
            }
            p{
              color: #133860;
              font-size: 20px;
              span{
                font-weight: 600;
              }
            }
          }
        }
      }
  }
  .project-parallax-img-layer-one{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
  }
  .project-parallax-img-layer-two{
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
  .project-layer-three{
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
  .project-static-bg{
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
  .visual-footer{
    img{
      height: 400px;
      width: auto;
      object-fit: cover;
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  margin: 10vh auto -1px auto;
  padding: 0;
  width: 100%;
  .card{
    background-color: rgba(0,0,0,0);
    transition: 0.3s ease-in-out;
    border-radius: 0;
    border: none;
    .floor-row{
      margin: 0;
      .card-header{
        background-color: rgba(0,0,0,0);
        transition: 0.3s ease-in-out;
        border: none;
        border-radius: 0;
        padding: 0;
        img{
          transition: 0.3s ease-in-out;
          width: 100%;
          //height: 175px;
          height: auto;
          object-fit: cover;
        }
        .floor-head-details{
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          .floor-num{
            padding: 30px 0;
            margin: 0;
            transition: 0.3s ease-in-out;
            opacity: 0;
            letter-spacing: 5px;
            font-size: 70px;
            font-weight: 100;
          }
        }
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:focus{
      transition: 0.3s ease-in-out;
      outline: none;
      img{
        transform: scale(1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:hover{
      cursor: pointer;
      transition: 0.3s ease-in-out;
      img{
        transition: 0.3s ease-in-out;
        transform: scale(1.05);
      }
      .floor-num:hover{
        transition: 0.3s ease-in-out;
        opacity: 1;
        text-shadow: 0px 1px 10px rgba(0,0,0,0.5);
      }
    }
  }
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */

@media (min-width: 992px){
  .modal-lg{
    max-width: 90%;
    max-height: 90vh;
  }
}
@media (min-width: 992px){
  .blog-modal{
    min-width: 100%;
    min-height: 100vh;
  }
}
@media (min-width: 576px) {
  .blog-modal {
    max-width: unset;
  }
}

@media (min-width: 576px) {
  #show-deck{
    .card{
      flex:1 0 31%;
    }
  }
}

@media (max-width: 1025px){
  #floor-select{
    .card{
      .card-header:hover{
        img{
          transition: 0.3s ease-in-out;
          transform: scale(1);
        }
      }
    }
  }
  .project-parallax-img-container{
      .project-overview{
        padding: 0 10px;
        #project-title{
          font-size: 65px;
          margin: auto auto 20px auto;
        }
        .overview-box{
          padding: 0 0 15px 0;
        }
      }
    #building{
      padding: 0 10%;
    }
    }
}

@media (max-width: 769px) {
  .post-content{
    .close-blog-modal{
      top: -10px;
      right: 10px;
      padding: 0;
      font-size: 40px;
    }
    .post-container{
      margin-top: 75px;
      .modal-post-title{
        margin-top: 0;
        font-size: 30px;
      }
    }
  }
  #floor-select{
    .card{
      .card-header:hover{
        img{
          transition: 0.3s ease-in-out;
          transform: scale(1);
        }
      }
    }
  }
  .project-parallax-img-container{
    #building{
      padding: 0 3%;
    }
    .project-overview{
      #project-title{
        font-size: 40px;
      }
      .overview-box{
        .project-instructions{
          .vis-select{
            i::before{
              font-size: 45px;
            }
            h1{
              margin: 0;
              padding: 10px 0;
              font-size: 30px;
            }
          }
          .how-to{
            p{
              font-size: 16px;
              padding: 15px 0 0 0;
            }
            .arrow-1{
              height: 20px;
              width: 20px;
            }
          }
          .project-info{
            h1{
              padding: 0 0 10px 0;
              font-size: 30px;
              span{
                font-size: 45px;
              }
            }
            p{
              font-size: 16px;
            }
          }
        }
      }
    }
    .visual-footer{
      img{
        height: 200px;
      }
    }
  }

}