/* ---------------------------------------------------
    SHOWROOM THUMBNAIL SECTION
----------------------------------------------------- */
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}
#show-deck{
  display: flex;
  padding: 30px 0 100px 0;
  .card{
    margin: 20px 10px;
    height: 50vh;
    min-height: 350px;
    border: none;
    border-radius: 0;
    overflow: hidden;
    transition: 0.3s ease-in-out;
    img{
      height: 100%;
      object-fit: cover;
      border-radius: 0;
    }
    .card-img-overlay{
      border: 1px solid #95ACBF;
      transition: all 0.3s ease-in-out;
      background-color: rgba(255,255,255,0.95);
      height: 15vh;
      color: #000000;
      opacity: 0;
      top: unset;
      .card-title{
        margin: 0;
        display: none;
        text-transform: uppercase;
        font-size: 25px;
        font-weight: 200;
        text-align: center;
      }
      .card-text{
        margin: 0;
        display: none;
        font-size: 18px;
        font-weight: 400;
        text-align: center;
      }
      button{
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 0;
        width: 100%;
        background-color: #95ACBF;
        padding: 20px 0px;
        border: none;
        color: #ffffff;
        font-size: 18px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 200;
        margin: 0;
        transition: all 0.3s;
      }
      button:focus{
        outline: 0;
      }
    }
  }
}

#show-deck{
  .card:hover{
    box-shadow: 0px 5px 12px -3px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
    .card-img-overlay{
      height: 100%;
      opacity: 1;
      transition: all 0.3s ease-in-out;
      .card-title{
        padding: 30px 0;
        display: block;
      }
      .card-text{
        display: block;
      }
      button:hover{
        background-color: #869AA6;
        cursor: pointer;
        transition: all 0.3s;
      }
    }
  }
}


/* ---------------------------------------------------
    SHOWROOM CONTENT SECTION
----------------------------------------------------- */
.modal{
  background-color: rgba(0,0,0,0.7);
}
.showroom-content{
  background-color: transparent;
  border: none;
  border-radius: 0;
  .carousel-inner{
    max-height: 90vh;
    .carousel-item{
      img{
        height: 90vh;
        object-fit: contain;
      }
      .carousel-caption{
        background-color: rgba(255,255,255,0.9);
        color: #333333;
        h5 span{
          text-transform: uppercase;
          font-size: 24px;
          font-weight: 200;
        }
        p {
          span{
            font-size: 18px;
            font-weight: 400;
          }
        }
      }
    }
  }
}
.close-modal-carousel{
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 25px 0 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
}
.close-modal-carousel:hover{
  cursor: pointer;
}
.close-modal-carousel:focus{
  outline: none;
}
/* ---------------------------------------------------
    BLOG THUMBNAIL SECTION
----------------------------------------------------- */
.blog-container{
  padding-top: 50px;
  padding-bottom: 80px;
}
.post{
  transition: all 0.3s ease-in-out;
  margin: 30px 0 80px 0;
  height: 250px;
  .post-link{
    transition: all 0.3s ease-in-out;
    border: none;
    background-color: transparent;
    height: 250px;
    .post-img{
      transition: all 0.3s ease-in-out;
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 0;
    }
    .post-title{
      text-align: left;
      margin-left: 10px;
      margin-right: 21px;
      border: 1px solid #869AA6;
      box-shadow: 0px 2px 10px -1px rgba(0,0,0,0.2);
      transition: all 0.3s ease-in-out;
      padding: 10px 20px;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      span{
        transition: all 0.3s ease-in-out;
        font-size: 20px;
        font-weight: 200;
        color: #333333;
      }
    }
    .post-author{
      background-color: #ffffff;
      padding: 5px 10px;
      opacity: 0;
      transition: 0.3s ease-in-out;
      position: absolute;
      bottom: 75px;
      left: 30px;
      color: #333333;
      span{
        font-size: 20px;
        font-weight: 400;
        color: #869AA6;
      }
    }
    .post-date{
      transition: 0.3s ease-in-out;
    }
  }
}
.post-link:hover{
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  cursor: pointer;
  .post-img{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 3px 10px -1px rgba(0,0,0,0.5);
  }
  .post-title{
    margin-left: 0;
    transition: all 0.3s ease-in-out;
    background-color: #869AA6;
    span{
      color: #ffffff;
    }
  }
  .post-author{
    opacity: 1;
    transition: 0.3s ease-in-out;
  }
  .post-date{
    transition: 0.3s ease-in-out;
    margin-top: 10px;
  }
}
.post-link:focus{
  outline: none;
}
.pagination{
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  .active{
    span{
      background-color: #869AA6;
      padding: 10px 20px;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .disabled{
    span{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
  li{
    a{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
}
.pagination{
  .active span:hover{
    cursor: not-allowed;
  }
  .disabled span:hover{
    cursor: not-allowed;
  }
  li a:hover{
    background-color: #95ACBF;
    color: #ffffff;
  }
}
/* ---------------------------------------------------
    POST CONTENT SECTION
----------------------------------------------------- */
.blog-modal-bg{
  background-color: rgba(255,255,255,1);
}
.blog-modal{
  margin: 0;
}
.post-content{
  height: 100vh;
  border: none;
  border-radius: 0;
  margin: 0;
  .close-blog-modal{
    padding: 0 15px 0 15px;
    font-size:70px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    color: #000;
    border: none;
  }
  .post-container{
    margin-top: 150px;
    padding-bottom: 100px;
    .modal-post-title{
      font-size: 50px;
      font-weight: 200;
      margin: 10px 0 25px 0;
    }
    .modal-post-sub-title{
      font-size: 30px;
      font-weight: 200;
      margin: 0 0 25px 0;
      color: rgba(0,0,0,0.5);
    }
    .modal-post-author{
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      span{
        font-size: 18px;
        font-weight: 600;
        color: #869AA6;
      }
    }
    .modal-post-date{
      float: right;
    }
    .post-head-img{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .modal-post-text{
      margin-top: 30px;
    }
  }
}
.close-blog-modal:hover{
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #869AA6;
  color: #ffffff;
}
.close-blog-modal:focus{
  outline: none;
}
/* ---------------------------------------------------
    VISUAL SELECTION
----------------------------------------------------- */

.project-parallax-img-container{
  .project-parallax-img{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
    .project-overview{
      padding: 50px 0 0 0;
      h1{
        font-size: 50px;
        font-weight: 200;
        text-transform: uppercase;
        padding: 20px 0;
      }
      p{
        font-weight: 400;
      }
    }
  }
}



#floor-select{
  transition: 0.3s ease-in-out;
  margin: 10vh auto auto auto;
  max-width: 70vh;
  padding: 10px 5px;
  .card{
    transition: 0.3s ease-in-out;
    border-radius: 0;
    border: none;
    .card-header{
      transition: 0.3s ease-in-out;
      border: none;
      border-radius: 0;
      padding: 0;
      img{
        transition: 0.3s ease-in-out;
        width: 100%;
        height: 125px;
        object-fit: cover;
      }
      p{
        transition: 0.3s ease-in-out;
        opacity: 0;
        position: absolute;
        top: 40px;
        left: 0;
        right: 0;
        margin: auto;
        font-weight: 100;
        font-size: 30px;
        text-transform: uppercase;
      }
    }
    .collapse{
      .card-body{
        .accordion-floor-title{

        }
        .accordion-floor-description{

        }
        .accordion-floor-img{
          transition: 0.3s ease-in-out;
          object-fit: cover;
        }
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:focus{
      transition: 0.3s ease-in-out;
      outline: none;
      img{
        transform: scale(1);
        transition: 0.3s ease-in-out;
      }
      p{
        transition: 0.3s ease-in-out;
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:hover{
      transition: 0.3s ease-in-out;
      cursor: pointer;
      img{
        transition: 0.3s ease-in-out;
        transform: scale(1.025);
      }
      p{
        opacity: 1;
      }
    }
  }
}


/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (max-width: 769px) {
  .post-content{
    .close-blog-modal{
      top: -10px;
      right: 10px;
      padding: 0;
      font-size: 40px;
    }
    .post-container{
      margin-top: 75px;
      .modal-post-title{
        margin-top: 0;
        font-size: 30px;
      }
    }
  }
}


@media (min-width: 992px){
  .modal-lg{
    max-width: 90%;
    max-height: 90vh;
  }
}
@media (min-width: 992px){
  .blog-modal{
    min-width: 100%;
    min-height: 100vh;
  }
}
@media (min-width: 576px) {
  .blog-modal {
    max-width: unset;
  }
}

@media (min-width: 576px) {
  #show-deck{
    .card{
      flex:1 0 31%;
    }
  }
}