@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

/* ---------------------------------------------------
    SHOWROOM THUMBNAIL SECTION
----------------------------------------------------- */
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}
#building{
  padding: 0 25%;
}

/* ---------------------------------------------------
    BLOG THUMBNAIL SECTION
----------------------------------------------------- */
.blog-banner{
  min-height: 250px;
  overflow: hidden;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 90px 0 100px 0;
  .blog-banner-title{
    background-color: #626E7E;
    color: #ffffff;
    font-weight: 800;
    padding: 15px 10px 15px 10px;
  }
}

.blog-container{
  padding-bottom: 80px;
  .upper-row{
    border-bottom: 1px solid #616E7D;
  }
  .post-date{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #616E7D;
    margin: 0;
  }
  .post-year{
    text-align: center;
    font-size: 2em;
    font-weight: 400;
    color: #616E7D;
  }
  .post-title{
    color: #616E7D;
    font-weight: 500;
    margin-bottom: 35px;
  }
  .post-author{
    color: #808080;
    font-size: 1.5em;
    margin: 16px 0 0 0;
  }
  .post-link{
    transition: 0.3s ease-in-out;
    padding: 0;
    border: none;
    background-color: transparent;
    &:hover{
      transition: 0.3s ease-in-out;
      cursor: pointer;
      filter: grayscale(1);
      -webkit-filter: grayscale(1);
    }
    &:focus{
      outline: none;
    }
    .post-img{
      width: 100%;
      height: 400px;
      object-fit: cover;
    }
  }
}

.pagination{
  align-items: center;
  justify-content: center;
  margin-bottom: 75px;
  .active{
    span{
      background-color: #869AA6;
      padding: 10px 20px;
      color: #ffffff;
      text-decoration: none;
    }
  }
  .disabled{
    span{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
  li{
    a{
      background-color: #eeeeee;
      //border: 1px solid #cccccc;
      padding: 10px 20px;
      color: #333333;
      text-decoration: none;
    }
  }
}
.pagination{
  .active span:hover{
    cursor: not-allowed;
  }
  .disabled span:hover{
    cursor: not-allowed;
  }
  li a:hover{
    background-color: #95ACBF;
    color: #ffffff;
  }
}
/* ---------------------------------------------------
    POST CONTENT SECTION
----------------------------------------------------- */
.blog-modal-bg{
  background-color: rgba(255,255,255,1);
}
.blog-modal{
  margin: 0;
}
.post-content{
  height: 100vh;
  border: none;
  border-radius: 0;
  margin: 0;
  .close-blog-modal{
    padding: 0 15px 0 15px;
    font-size:70px;
    font-weight: 100;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: transparent;
    color: #000;
    border: none;
  }
  .post-container{
    margin-top: 150px;
    padding-bottom: 100px;
    .modal-post-title{
      font-size: 50px;
      font-weight: 200;
      margin: 10px 0 25px 0;
    }
    .modal-post-sub-title{
      font-size: 30px;
      font-weight: 200;
      margin: 0 0 25px 0;
      color: rgba(0,0,0,0.5);
    }
    .modal-post-author{
      font-size: 16px;
      font-weight: 400;
      color: #333333;
      span{
        font-size: 18px;
        font-weight: 600;
        color: #869AA6;
      }
    }
    .modal-post-date{
      float: right;
    }
    .post-head-img{
      width: 100%;
      height: 350px;
      object-fit: cover;
    }
    .modal-post-text{
      margin-top: 30px;
    }
  }
}
.close-blog-modal:hover{
  transition: 0.3s ease-in-out;
  cursor: pointer;
  background-color: #869AA6;
  color: #ffffff;
}
.close-blog-modal:focus{
  outline: none;
}
/* ---------------------------------------------------
    VISUAL SELECTION
----------------------------------------------------- */

.card-body{
  background-color: rgba(255,255,255,1);
  margin: 0 20%;
  padding: 0 15px 0 15px;
}
.floor-acc-info{
  padding: 100px 50px 100px 100px;
}
.accordion-floor-title{
  font-weight: 600;
  color: #616E7D;
  padding: 0 0 16px 0;
}
.accordion-floor-border{
  height: 2px;
  width: 50%;
  background-color: #616E7D;
}
.accordion-floor-description{
  font-size: 16px;
  padding: 22px 50px 0 0;
}
.floor-details{
  font-size: 2rem;
  font-weight: 500;
  text-transform: capitalize;
  color: #9AB7BE;
}
.floor-details span{
  font-size: 30px;
  font-weight: 600;
  color: #9AB7BE;
}
.floor-details-2{
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  color: #9AB7BE;
}
.floor-details span{
  font-weight: 500;
  color: #9AB7BE;
}
.plan-image-container{
  transition: 0.3s ease-in-out;
  padding: 50px;
}
.plan-image-container:hover{
  transition: 0.3s ease-in-out;
  .accordion-plan-img{
    transition: 0.3s ease-in-out;
    background-color: rgba(97,110,125,0.2);
  }
}
.accordion-plan-img{
  transition: 0.3s ease-in-out;
  height: 100%;
  width:100%;
  object-fit:contain;
  margin: 0 auto;
}
.clickable{
  -webkit-animation: clicky 8s infinite alternate ease-in-out;
  animation: clicky 8s infinite alternate ease-in-out;
}

@keyframes clicky {
  0%   {
    transform: scale(1);
  }
  45%{
    transform: scale(1);
  }
  47.5%  {
    transform: scale(1.05);
  }
  50%  {
    transform: scale(1.025);
  }
  52.5%  {
    transform: scale(1.05);
  }
  55%{
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes clicky {
  0%   {
    transform: scale(1);
  }
  45%{
    transform: scale(1);
  }
  47.5%  {
    transform: scale(1.05);
  }
  50%  {
    transform: scale(1.025);
  }
  52.5%  {
    transform: scale(1.05);
  }
  55%{
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.project-parallax-img-container{
    .project-overview{
      padding: 120px 10px 50px 10px;
      h1{
        padding: 35px 0;
        font-weight: 400;
        font-size: 40px;
        color: #D7F3F4;
      }
      #project-title{
        font-weight: 600;
        font-size: 40px;
        margin: 0 auto 50px auto;
      }
      .overview-box{
        padding: 25px 25px;
        border: 1px solid rgba(255,255,255,1);
        background-color: rgba(255,255,255,0);
        .project-instructions{
          color: #D7F3F4;
          .vis-select{
            text-align: left;
            i{
              @extend %fa-icon;
              @extend .far;
              &:before {
                content: fa-content($fa-var-eye);
                font-size: 115px;
                color: #D7F3F4;
              }
            }
            h1{
              margin: 0;
              padding-bottom: 0;
              color: #D7F3F4;
              font-weight: 600;
              text-transform: uppercase;
            }
            .mob-i{
              @extend %fa-icon;
              @extend .far;
              &:before {
                content: fa-content($fa-var-eye);
                font-size: 140px;
                color: #D7F3F4;
              }
            }
            .mob-p{
              padding: 0 15% 50px 15%;
              font-size: 60px;
              color: #D7F3F4;
              font-weight: 600;
              text-transform: uppercase;
            }
          }
          .how-to{
            p{
              font-size: 25px;
              font-weight: 400;
              padding: 20px 0 11px 0;
              margin: 0;
            }
            .arrow-1 {
              position: relative;
              margin: auto;
              height: 25px; width: 25px;
              border: 1px solid rgba(255,255,255,1);
              border-width: 2px 2px 0 0;
              transform: rotate(135deg);
            }
          }
          .project-info{
            h1{
              font-size: 40px;
              line-height: 40px;
              padding: 20px 0;
              margin: 0;
              color: #D7F3F4;
              font-weight: 600;
              letter-spacing: 2px;
              span{
                color: #D7F3F4;
                font-size: 90px;
                font-weight: 600;
              }
            }
            p{
              line-height: 10px;
              color: #D7F3F4;
              font-size: 20px;
              span{
                font-weight: 600;
              }
            }
            .mob-ap{
              padding-top: 40px;
            }
          }
        }
      }
  }
  .project-parallax-img-layer-one{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
  }
  .project-parallax-img-layer-two{
    background-size: cover;
    background-position: top;
    height: 100%;
    width: 100%;
  }
  .project-layer-three{
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
  .project-static-bg{
    background-size: cover;
    background-position: bottom;
    height: 100%;
    width: 100%;
  }
  .visual-footer{
    position: relative;
    img{
      height: 250px;
      width: 100%;
      object-fit: cover;
    }
    .visual-sales{
      background-color: #D6E1E5;
      position: absolute;
      bottom:0;
      left: 0;
      right: 0;
      width: 100%;
      padding: 20px 5%;
      text-align: center;
      .enquiries{
        padding: 20px 20px 10px 20px;
        margin: 10px 0 0 0;
        font-size: 40px;
        font-weight: 600;
        color: #616E7D;
        .enquiries-border{
          height: 3px;
          background-color: #ffffff;
          margin: 10px 15% 0 15%;
          width: 100%;
        }
      }
      .query-info{
        color: #616E7D;
        font-size: 24px;
        font-weight: 300;
        padding: 5px 1.5% 20px 5%;
        .q-i{
          padding:0;
        }
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  margin: 10vh auto -1px auto;
  padding: 0;
  width: 100%;
  .card{
    background-color: rgba(0,0,0,0);
    transition: 0.3s ease-in-out;
    border-radius: 0;
    border: none;
    .floor-row{
      margin: 0;
      .card-header{
        background-color: rgba(0,0,0,0);
        transition: 0.3s ease-in-out;
        border: none;
        border-radius: 0;
        padding: 0;
        img{
          transition: 0.3s ease-in-out;
          width: 100%;
          //height: 175px;
          height: auto;
          object-fit: cover;
        }
        .floor-number{
          transition: 0.2s ease-in-out;
          position: absolute;
          top: 33%;
          bottom: 50%;
          right: 0;
          font-size: 55px;
          font-weight: 100;
          color: #D7F3F4;
          margin-right: -100px;
        }
        .floor-ap-stats{
          line-height: 25px;
          text-align: left;
          opacity: 0;
          pointer-events: none;
          transition: 0.3s ease-in-out;
          position: absolute;
          top: 40%;
          bottom: 0;
          left: 0;
          font-size: 50px;
          font-weight: 400;
          color: #D7F3F4;
          span{
            font-size: 20px;
            font-weight: 100;
          }
        }
        .floor-mobile-num{
          text-align: left;
          position: absolute;
          bottom: 50%;
          left: -10%;
          margin-bottom: -30px;
          font-size: 35px;
          font-weight: 100;
          color: #D7F3F4;
        }
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:focus{
      transition: 0.3s ease-in-out;
      outline: none;
      img{
        transition: 0.3s ease-in-out;
      }
    }
  }
}

#floor-select{
  transition: 0.3s ease-in-out;
  .card{
    transition: 0.3s ease-in-out;
    .card-header:hover{
      cursor: pointer;
      transition: 0.3s ease-in-out;
      img{
        transition: 0.3s ease-in-out;
        filter: brightness(.9);
        -webkit-filter: brightness(.9);
      }
      .floor-number{
        transition: 0.2s ease-in-out;
        font-weight: 400;
      }.floor-ap-stats{
        transition: 0.3s ease-in-out;
        margin-left: -150px;
        opacity: 1;
      }
    }
  }
}


/* ---------------------------------------------------
    FLOOR VIEW PAGE
----------------------------------------------------- */
.floor-view{
  width: 100%;
  height: calc(100vh - 55px);
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #7a8791;
}

.breadcrumb{
  background-color: rgba(0,0,0,0);
  text-align:center;
  max-width:375px;
  margin:30px auto 0 auto;
  .breadcrumb-item{
    a{
      color: #D7F3F4;
    }
  }
  .breadcrumb-item::before{
    color: #D7F3F4;
  }
  .breadcrumb-item.active{
    color: #A4C0C1;
  }
}

.floor-selection-section{
  padding: 10px 0;
  margin: auto auto;
  //max-height: 75vh;
  //overflow-y: scroll;
  .floor-indicator{
    color: #BDCCD4;
    font-size: 24px;
    text-transform: uppercase;
    //border-bottom: 1px solid #D7F3F4;
    padding: 3px 15px;
    margin: 0 auto;
  }
  .floor-numbers-bars{
    margin: 20px auto 50px auto;
    min-width: 50px;
    max-width: 120px;
    height: 1px;
    background-color: #D7F3F4;
  }
  .small-bars{
    margin: 0 auto;
  }
  .one{
    margin-top: 20px;
  }
  .floor-numbers{
    margin: unset;
    max-height: 50vh;
    overflow-y: scroll;
    list-style-type: none;
    padding: 12px 0;
    .floor-activated{
      transition: 0.3s ease-in-out;
      font-size: 30px;
      font-weight: 600;
    }
    a{
      transition: 0.3s ease-in-out;
      color: #FDD396;
      text-decoration: none;
      font-size: 25px;
      font-weight: 100;
      .floor-number{
        padding: 10px 0;
      }
    }
    a:hover{
      transition: 0.3s ease-in-out;
      text-decoration: none;
      font-weight: 600;
    }
  }
}
.small-compass-desk{
  position: relative;
  top: 100px;
  width: 100%;
}
.floor-select-trigger{
  padding: 15px;
  width: 100%;
  font-size: 25px;
  color: #FDD396;
  background-color: #7a8791;
  border: none;
  i {
    @extend %fa-icon;
    @extend .fas;
    &:after {
      content: fa-content($fa-var-caret-down);
      font-size: 30px;
      color: #FDD396;
      padding: 10px;
      position: relative;
    }
  }
}
.floor-select-trigger:focus{
  outline: 0;
}

.floor-select-modal{
  background-color: #7a8791;
  .floor-modal{
    margin: 0;
    .modal-content{
      border: none;
      border-radius: 0;
      background-color: #7a8791;
      .floor-head{
        h1{
          color: #D7F3F4;
          font-weight: 200;
          padding: 25px 0;
        }
      }
      .floor-small-numbers{
        overflow-y: scroll;
        overflow-x: hidden;
        list-style-type: none;
        padding: 20px 0;
        .floor-small-activated{
          font-size: 30px;
          font-weight: 600;
        }
        a{
          transition: 0.3s ease-in-out;
          color: #FDD396;
          text-decoration: none;
          font-size: 25px;
          font-weight: 100;
          .floor-small-number{
            padding: 20px 0;
          }
        }
      }
    }
  }
}

.selected{
  p{
    display: inline-block;
    color: #D7F3F4;
    padding-top: 10px;
  }
  img{
    display: inline-block;
    margin: 5px;
  }
}
.booked{
  p{
    display: inline-block;
    color: #D7F3F4;
    padding-top: 10px;
  }
  img{
    display: inline-block;
    margin: 5px;
  }
}
.available{
  p{
    display: inline-block;
    color: #D7F3F4;
    padding-top: 10px;
  }
  img{
    display: inline-block;
    margin: 5px;
  }
}
.multi-level{
  p{
    display: inline-block;
    color: #D7F3F4;
    padding-top: 10px;
  }
  img{
    display: inline-block;
    margin: 5px;
  }
}

.current-floor-info{
  padding: 20px 0;
  .c-f-p-c{
    padding: 0 5%;
  }
  .current-floor-plan{
    margin: auto;
    width: 100%;
    height: 70vh;
    object-fit: contain;
  }
}

.small-floor{
  .small-floor-compass{
    max-width: 100%;
    padding: 0 10%;
  }
  .small-compass{
    padding: 0 10%;
    width: 100%;
  }
}


.current-floor-ap-info{
  margin: auto;
  color: #D7F3F4;
  padding: 50px 0;
  .current-floor-compass {
    width: 150px;
    margin: 0 0 50px 30px;
  }
  .ap-info{
    .floor-ap-title{
      //color: #D7F3F4;
      padding: 30px 0 15px 30px;
      font-weight: 400;
      //border-bottom: 1px solid #FDD496;
    }
    .floor-ap-border{
      margin-left: 30px;
      width: 80%;
      height: 1px;
      background-color: #FDD496;
    }
    .floor-ap-info{
      padding: 30px 30px 0 30px;
      font-size: 20px;
      font-weight: 200;
    }
    .floor-ap-price{
      font-size: 40px;
      font-weight: 400;
      margin: 50px 0;
      padding: 0 0 0 20px;
    }
    .go-to-ap{
      padding: 0 0 0 20px;
      text-transform: uppercase;
      font-size: 20px;
      font-weight: 400;
      a{
        transition: 0.3s ease-in-out;
        color: #BDCCD4;
        text-decoration: none;
      }
    }
    .go-to-ap a:hover{
      transition: 0.3s ease-in-out;
      text-decoration: none;
      color: #FDD496;
    }
  }

}

.fade{
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -ms-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.ap-link{
  .path {
    fill: transparent;
    transition: 0.3s ease-in-out;
    stroke: #424C56;
    stroke-width: 15px;
  }
  .ap-path-title{
    pointer-events: none;
    transition: 0.3s ease-in-out;
    fill: #D7F3F4;
  }
}
.ap-link:hover{
  text-decoration: none;
  .path:hover{
    transition: 0.3s ease-in-out;
    fill: rgba(215,243,244,0.3);
  }
  .ap-path-title{
    transition: 0.3s ease-in-out;
    fill: #FDD496;
  }
}
.path {
  fill: transparent;
  stroke: #424C56;
  stroke-width: 15px;
}
.ap-path-title{
  pointer-events: none;
  fill: #D7F3F4;
}
.level-2{
  fill: transparent;
}
.booked-ap{
  fill: rgba(97,110,125,0.8);
  transition: 0.3s ease-in-out;
  stroke: #424C56;
  stroke-width: 15px;
  //stroke-width: 3px;
}

.ap-booked-title{
  pointer-events: none;
  fill: #D7F3F4;
}

/* ---------------------------------------------------
    APARTMENT VIEW PAGE
----------------------------------------------------- */
.apartment-view{
  background-color: #7a8791;
  color: #d7f3f4;
  min-height: calc(100vh - 55px);
  height: auto;
  width: 100%;
  margin: 0;
  .opacity{
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  .car-info{
    opacity: 0;
    transition: left 0.5s ease-in-out, opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    top: 10%;
    left: -20%;
    .car-title{
      font-size: 35px;
      font-weight: 400;
    }
    .car-title-border{
      height: 3px;
      width: 300px;
      background-color: #fdd496;
    }
  }
  .open-carousel{
    transition: right 0.5s ease-in-out, background-color 0.3s ease-in-out;
    z-index: 1;
    width: 75px;
    height: 75px;
    position: absolute;
    top: 90%;
    right: 50%;
    margin-right: -37.5px;
    border: 1px solid #d7f3f4;
    color: #d7f3f4;
    background-color: #7a8791;
    border-radius: 50%;
    transform: rotate(180deg);
  }
  .rotated{
    transform: rotate(0deg);
  }
  .open-carousel:hover{
    cursor: pointer;
    background-color: #6a7680;
  }
  .open-carousel:focus{
    outline: none;
  }
  .apartment-carousel{
    position: absolute;
    right: 0;
    width: 50%;
    transition: 0.5s ease-in-out;
    .ap-car-ind{
      display: none;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .carousel-inner{
      .carousel-item{
        .img-custom{
          width: 100%;
          height: calc(100vh - 55px);
          object-fit: cover;
        }
      }
    }
    .ap-car-prev{
      .carousel-control-prev-icon{
        background-image: url("../../../public/images/arrow.png");
        width: 75px;
        height: 75px;
      }
      display: none;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
    .ap-car-next{
      .carousel-control-next-icon{
        background-image: url("../../../public/images/arrow.png");
        transform: rotate(180deg);
        width: 75px;
        height: 75px;
      }
      display: none;
      opacity: 0;
      transition: 0.3s ease-in-out;
    }
  }
  .apartment-information{
    transition: opacity 0.3s ease-in-out;
    padding: 2% 0 0 4%;
    .apartment-bread{
      .breadcrumb{
        padding-left: 0;
        max-width: unset;
        margin: unset;
      }
    }
    .apartment-title{
      margin-top: 1%;
      font-size: 2rem;
      text-transform: capitalize;
      font-weight: 300;
      span{
        font-weight: 500;
      }
    }
    .apartment-title-border{
      margin-bottom: 3%;
      height: 3px;
      width: 30%;
      background-color: #fdd496;
    }
    .apartment-price{
      font-size: 2.5rem;
      .price{
        font-size: 2.5rem;
      }
    }
    .apartment-before-sale{
      font-size: 20px;
      display: inline;
    }
    .apartment-send-request{
      float: right;
      display: inline;
      a{
        color: #d7f3f4;
        text-transform: uppercase;
        font-size: 22px;
      }
    }
    .apartment-plan-container{
      .carousel-inner{
        .carousel-item{
          img{
            height: 30vh;
            object-fit: contain;
            margin: 5% auto;
          }
        }
      }
    }
    .apartment-similar{
      .browse-similar{
        margin-bottom: 5px;
        font-size: 20px;
      }
      .apartment-similar-list{
        padding-left: 0;
        list-style-type: none;
        .apartment-similar-list-item{
          transition: 0.3s ease-in-out;
          display: inline-block;
          border: 2px solid #d7f3f4;
          color: #d7f3f4;
          padding: 10px 15px;
          margin: 0;
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
        }
        .apartment-similar-list-item:hover{
          transition: 0.3s ease-in-out;
          background-color: rgba(0,0,0,0.2);
        }
      }
    }

    .back-to-floor-desk{
      position: relative;
      top: -58px;
      left: 70%;
      text-transform: uppercase;
      transition: 0.3s ease-in-out;
      border: 2px solid #d7f3f4;
      color: #d7f3f4;
      padding: 13px 20px;
      font-size: 20px;
      font-weight: 400;
      text-decoration: none;
    }.back-to-floor-desk:hover{
      transition: 0.3s ease-in-out;
      background-color: rgba(0,0,0,0.1);
      text-decoration: none;
    }
  }
  .apartment-media{
    margin: 0;
    padding: 0;
    .mobile-gall{
      padding: 0 2%;
      margin: 0 auto;
      .mobile-gallery{
        .tab-pane{
          max-width: 100%;
          width: auto;
          overflow-x: auto;
          box-sizing: border-box;
          img{
            display: block;
            max-height: 75vh;
            margin: auto;
          }
        }
      }
      .mobile-pills{
        overflow-x: auto;
        overflow-y:hidden;
        flex-wrap: nowrap;
        .nav-item{
          .apartment-thumb{
            .apartment-thumb-image{
              transition: 0.3s ease-in-out;
              max-height: 100px;
              filter: saturate(1);
            }
          }
          .active{
            background-color: transparent;
            .apartment-thumb-image{
              max-height: 100px;
              filter: saturate(2);
              border: 1px solid #d7f3f4;
              transition: 0.3s ease-in-out;
            }
          }
        }
      }
    }
    .back-to-line{
      padding: 25px 0 0 0;
    }
    .back-to-floor-container{
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      .back-to-floor{
        border: 1px solid #d7f3f4;
        color: #d7f3f4;
        text-transform: uppercase;
        padding: 10px 10px;
        height: auto;
        width: auto;
      }
    }
  }
}



/* ---------------------------------------------------
    CUSTOM SCROLLBAR
----------------------------------------------------- */
::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
  background: rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0,0,0,0.4);
}
