/* ---------------------------------------------------
    THUMBNAIL SECTION
----------------------------------------------------- */
.container-fluid{
  padding-left: 5%;
  padding-right: 5%;
}
.card-deck{
  padding: 30px 0;
}
.card{
  margin: 20px 0;
  height: 50vh;
  min-height: 350px;
  border: none;
  border-radius: 0;
  overflow: hidden;
  transition: 0.3s ease-in-out;
  img{
    height: 100%;
    object-fit: cover;
    border-radius: 0;
  }
  .card-img-overlay{
    transition: all 0.3s ease-in-out;
    background-color: rgba(255,255,255,0.95);
    height: 15vh;
    color: #000000;
    opacity: 0;
    top: unset;
    .card-title{
      margin: 0;
      display: none;
      text-transform: uppercase;
      font-size: 25px;
      font-weight: 200;
      text-align: center;
    }
    .card-text{
      margin: 0;
      display: none;
      font-size: 18px;
      font-weight: 400;
      text-align: center;
    }
    button{
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 0;
      width: 100%;
      background-color: #95ACBF;
      padding: 20px 0px;
      border: none;
      color: #ffffff;
      font-size: 18px;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-weight: 200;
      margin: 0;
      transition: all 0.3s;
    }
    button:focus{
      outline: 0;
    }
  }
}

.card:hover{
  box-shadow: 0px 5px 12px -3px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
  .card-img-overlay{
    height: 100%;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    .card-title{
      padding: 30px 0;
      display: block;
    }
    .card-text{
      display: block;
    }
    button:hover{
      background-color: #869AA6;
      cursor: pointer;
      transition: all 0.3s;
    }
  }
}

/* ---------------------------------------------------
    CONTENT SECTION
----------------------------------------------------- */
.modal{
  background-color: rgba(0,0,0,0.7);
}
.modal-content{
  background-color: transparent;
  border: none;
  border-radius: 0;
  .carousel-inner{
    max-height: 90vh;
    .carousel-item{
      img{
        height: 90vh;
        object-fit: contain;
      }
      .carousel-caption{
        h5 span{
          padding: 10px 15px;
          background-color: rgba(255,255,255,0.9);
          color: #333333;
          font-size: 24px;
          font-weight: 200;
        }
        p {
          margin-top: 30px;
          span{
            padding: 10px 15px;
            color: #000000;
            font-size: 20px;
            font-weight: 400;
            filter: invert(1) grayscale(1) contrast(9);
          }
        }
      }
    }
  }
}
.close-modal-carousel{
  z-index: 9999;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0 25px 0 0;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
}
.close-modal-carousel:hover{
  cursor: pointer;
}
.close-modal-carousel:focus{
  outline: none;
}

/* ---------------------------------------------------
    MEDIA QUERIES
----------------------------------------------------- */
@media (min-width: 992px){
  .modal-lg{
    max-width: 90%;
    max-height: 90vh;
  }
}

@media (min-width: 576px) {
  .card-deck{
    .card{
      flex:1 0 31%;
    }
  }
}